{% extends 'base.html.twig' %}
{% block title 'Se connecter' %}
{% block body %}
<div class="container mt-4">
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messagekey | trans(error.messagedata, 'security')}}
        </div>
    {% endif %}
    <form action="{{ path('login') }}" method="post">
        <div class="form-group">
            <label for="username">Non de'utlisateur</label>
            <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}">
        </div>
        <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" id="password" name="_password" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Se Connecter</button>
    </form>
</div>
{% endblock %}