{% extends 'base.html.twig' %}
{% block title 'Agence loren ipsum' %}
{% block body %}
    <div class="jumbotron text-center">
      <h1><i>Agence loren ipsum</i></h1>
        <p>Site d'agence</p>
    </div>
    <div class="container">

        <h2>Les derniers biens</h2>
        <div class="row flex">
            {% for property in properties %}
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{ path('property.show', {id: property.id, slug: property.slug}) }}">{{ property.title }}</a>
                            </h5>
                            <p class="card-text">
                                {{ property.city }}
                                {{ property.postalCode }}
                            </p>
                            <div class="text-primary" style="font-weight: bold; font-size: 2rem">
                                {{ property.formattedPrice }} €
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
        </div>
    </div>
{% endblock %}