{% extends 'base.html.twig' %}
{% block body %}
<div class="container mt-4">
    <h2>Editer le bien</h2>
  {{ include('admin/property/_form.html.twig', {from: form, button: 'Editer'}) }}
</div>
{% endblock %}

