{% extends 'base.html.twig' %}
{% block body %}
    <div class="container mt-4">
        <h2>Créer un nouveau bien</h2>
        {{ include('admin/property/_form.html.twig', {from: form, button: 'Créer'}) }}
    </div>
{% endblock %}

